/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #e67e22;

}

#chat-container {
    overflow: auto;
    height: 250px;
}

#your-message {
    width: 100%;
}

.panel-footer,
.panel-heading {
    background-color: #16a085;
}

.msg-box {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 80px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  color: #c0392b;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.loginBtn {
    position: relative;
    top: 20px;
}

.chat-msg-mine {
    border: 1px solid #2c3e50;
    background-color: #2980b9;
    padding: 8px;
    width: 250px;
    color: #ecf0f1;
      word-break: break-all;
    float: right;
}

.chat-msg-others {
    border: 1px solid #34495e;
    background-color: #3498db;
    padding: 8px;
    width: 250px;
    color: #ecf0f1;
      word-break: break-all;
    float: left;
}

.author-name {
    background-color: #27ae60;
    padding: 3px;
}

.sent {
    padding-top: 3px;
    background-color: #1abc9c;
    color:#e74c3c;
    bottom: 0;
}